html {
	font-family: sans-serif; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;
}
body {
	margin: 0px;
}
article {
	display: block;
}
aside {
	display: block;
}
details {
	display: block;
}
figcaption {
	display: block;
}
figure {
	display: block;
}
footer {
	display: block;
}
header {
	display: block;
}
hgroup {
	display: block;
}
main {
	display: block;
}
nav {
	display: block;
}
section {
	display: block;
}
summary {
	display: block;
}
audio {
	vertical-align: baseline; display: inline-block;
}
canvas {
	vertical-align: baseline; display: inline-block;
}
progress {
	vertical-align: baseline; display: inline-block;
}
video {
	vertical-align: baseline; display: inline-block;
}
audio:not([controls]) {
	height: 0px; display: none;
}
[hidden] {
	display: none;
}
template {
	display: none;
}
a {
	background: none;
}
a:active {
	outline: 0px;
}
a:hover {
	outline: 0px;
}
abbr[title] {
	border-bottom-color: currentColor; border-bottom-width: 1px; border-bottom-style: dotted;
}
b {
	font-weight: bold;
}
strong {
	font-weight: bold;
}
dfn {
	font-style: italic;
}
h1 {
	margin: 0.67em 0px; font-size: 2em;
}
mark {
	background: rgb(255, 255, 0); color: rgb(0, 0, 0);
}
small {
	font-size: 80%;
}
sub {
	line-height: 0; font-size: 75%; vertical-align: baseline; position: relative;
}
sup {
	line-height: 0; font-size: 75%; vertical-align: baseline; position: relative;
}
sup {
	top: -0.5em;
}
sub {
	bottom: -0.25em;
}
img {
	border: 0px currentColor; border-image: none;
}
svg:not(:root) {
	overflow: hidden;
}
figure {
	margin: 1em 40px;
}
hr {
	height: 0px; box-sizing: content-box;
}
pre {
	overflow: auto;
}
code {
	font-family: monospace, monospace; font-size: 1em;
}
kbd {
	font-family: monospace, monospace; font-size: 1em;
}
pre {
	font-family: monospace, monospace; font-size: 1em;
}
samp {
	font-family: monospace, monospace; font-size: 1em;
}
button {
	font: inherit; margin: 0px; color: inherit; font-size-adjust: inherit; font-stretch: inherit;
}
input {
	font: inherit; margin: 0px; color: inherit; font-size-adjust: inherit; font-stretch: inherit;
}
optgroup {
	font: inherit; margin: 0px; color: inherit; font-size-adjust: inherit; font-stretch: inherit;
}
select {
	font: inherit; margin: 0px; color: inherit; font-size-adjust: inherit; font-stretch: inherit;
}
textarea {
	font: inherit; margin: 0px; color: inherit; font-size-adjust: inherit; font-stretch: inherit;
}
button {
	overflow: visible;
}
button {
	text-transform: none;
}
select {
	text-transform: none;
}
button {
	cursor: pointer; -webkit-appearance: button;
}
html input[type='button'] {
	cursor: pointer; -webkit-appearance: button;
}
input[type='reset'] {
	cursor: pointer; -webkit-appearance: button;
}
input[type='submit'] {
	cursor: pointer; -webkit-appearance: button;
}
button[disabled] {
	cursor: default;
}
html input[disabled] {
	cursor: default;
}
input {
	line-height: normal;
}
input[type='checkbox'] {
	padding: 0px; box-sizing: border-box;
}
input[type='radio'] {
	padding: 0px; box-sizing: border-box;
}
input[type='search'] {
	box-sizing: content-box; -webkit-appearance: textfield;
}
fieldset {
	margin: 0px 2px; padding: 0.35em 0.62em 0.75em; border: 1px solid rgb(192, 192, 192); border-image: none;
}
legend {
	padding: 0px; border: 0px currentColor; border-image: none;
}
textarea {
	overflow: auto;
}
optgroup {
	font-weight: bold;
}
table {
	border-collapse: collapse; border-spacing: 0;
}
td {
	padding: 0px;
}
th {
	padding: 0px;
}
* {
	box-sizing: border-box;
}
input {
	font: 13px/1.4 Helvetica, arial, freesans, clean, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol"; font-size-adjust: none; font-stretch: normal;
}
select {
	font: 13px/1.4 Helvetica, arial, freesans, clean, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol"; font-size-adjust: none; font-stretch: normal;
}
textarea {
	font: 13px/1.4 Helvetica, arial, freesans, clean, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol"; font-size-adjust: none; font-stretch: normal;
}
button {
	font: 13px/1.4 Helvetica, arial, freesans, clean, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol"; font-size-adjust: none; font-stretch: normal;
}
body {
	font: 13px/1.4 Helvetica, arial, freesans, clean, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol"; color: rgb(51, 51, 51); min-width: 1020px; font-size-adjust: none; font-stretch: normal; background-color: rgb(255, 255, 255);
}
a {
	color: rgb(65, 131, 196); text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
a:active {
	text-decoration: underline;
}
hr {
	background: none; border-width: 0px 0px 1px; border-style: none none solid; border-color: currentColor currentColor rgb(221, 221, 221); margin: 15px 0px; border-image: none; height: 0px; overflow: hidden;
}
.rule {
	background: none; border-width: 0px 0px 1px; border-style: none none solid; border-color: currentColor currentColor rgb(221, 221, 221); margin: 15px 0px; border-image: none; height: 0px; overflow: hidden;
}
hr::before {
	display: table; content: "";
}
.rule::before {
	display: table; content: "";
}
hr::after {
	clear: both; display: table; content: "";
}
.rule::after {
	clear: both; display: table; content: "";
}
h1 {
	line-height: 1.1; margin-top: 15px; margin-bottom: 15px;
}
h2 {
	line-height: 1.1; margin-top: 15px; margin-bottom: 15px;
}
h3 {
	line-height: 1.1; margin-top: 15px; margin-bottom: 15px;
}
h4 {
	line-height: 1.1; margin-top: 15px; margin-bottom: 15px;
}
h5 {
	line-height: 1.1; margin-top: 15px; margin-bottom: 15px;
}
h6 {
	line-height: 1.1; margin-top: 15px; margin-bottom: 15px;
}
h1 {
	font-size: 30px;
}
h2 {
	font-size: 21px;
}
h3 {
	font-size: 16px;
}
h4 {
	font-size: 14px;
}
h5 {
	font-size: 12px;
}
h6 {
	font-size: 11px;
}
small {
	font-size: 90%;
}
blockquote {
	margin: 0px;
}
.lead {
	color: rgb(85, 85, 85); font-size: 20px; font-weight: 300; margin-bottom: 30px;
}
.text-muted {
	color: rgb(153, 153, 153);
}
.text-danger {
	color: rgb(189, 44, 0);
}
.text-emphasized {
	color: rgb(51, 51, 51); font-weight: bold;
}
ul {
	padding: 0px; margin-top: 0px; margin-bottom: 0px;
}
ol {
	padding: 0px; margin-top: 0px; margin-bottom: 0px;
}
ol ol {
	list-style-type: lower-roman;
}
ul ol {
	list-style-type: lower-roman;
}
ul ul ol {
	list-style-type: lower-alpha;
}
ul ol ol {
	list-style-type: lower-alpha;
}
ol ul ol {
	list-style-type: lower-alpha;
}
ol ol ol {
	list-style-type: lower-alpha;
}
dd {
	margin-left: 0px;
}
tt {
	font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace; font-size: 12px;
}
code {
	font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace; font-size: 12px;
}
pre {
	font: 12px/normal Consolas, "Liberation Mono", Menlo, Courier, monospace; margin-top: 0px; margin-bottom: 0px; font-size-adjust: none; font-stretch: normal;
}
#realtime .status {
	background: url("/public/images/github-status.png"); margin: 0px 5px 0px 0px; left: 0px; top: -5px; width: 26px; height: 26px; overflow: visible; display: block; position: absolute;
}
#realtime .up {
	background-position: 0px 0px;
}
#realtime .problem {
	background-position: 0px -53px;
}
#realtime .down {
	background-position: 0px -26px;
}
.container {
	margin: 0px auto 20px; max-width: 920px;
}
#header {
	background: rgb(250, 250, 250); border-bottom-color: rgb(202, 202, 202); border-bottom-width: 1px; border-bottom-style: solid; box-shadow: 0px 1px 0px rgba(255,255,255,0.4), 0px 0px 10px rgba(0,0,0,0.1);
}
#markup {
	padding: 3px;
}
#markup article {
	padding-top: 30px;
}
.markdown-body {
	line-height: 1.6; overflow: hidden; font-family: "Helvetica Neue", Helvetica, "Segoe UI", Arial, freesans, sans-serif; font-size: 16px; -ms-word-wrap: break-word;
}
.markdown-body > *:first-child {
	margin-top: 0px !important;
}
.markdown-body > *:last-child {
	margin-bottom: 0px !important;
}
.markdown-body .absent {
	color: rgb(204, 0, 0);
}
.markdown-body .anchor {
	left: 0px; top: 0px; padding-right: 6px; padding-left: 30px; margin-left: -30px; display: block; position: absolute;
}
.markdown-body .anchor:focus {
	
}
.markdown-body h1 {
	line-height: 1.4; font-weight: bold; margin-top: 1em; margin-bottom: 16px; position: relative;
}
.markdown-body h2 {
	line-height: 1.4; font-weight: bold; margin-top: 1em; margin-bottom: 16px; position: relative;
}
.markdown-body h3 {
	line-height: 1.4; font-weight: bold; margin-top: 1em; margin-bottom: 16px; position: relative;
}
.markdown-body h4 {
	line-height: 1.4; font-weight: bold; margin-top: 1em; margin-bottom: 16px; position: relative;
}
.markdown-body h5 {
	line-height: 1.4; font-weight: bold; margin-top: 1em; margin-bottom: 16px; position: relative;
}
.markdown-body h6 {
	line-height: 1.4; font-weight: bold; margin-top: 1em; margin-bottom: 16px; position: relative;
}
.markdown-body h1 .octicon-link {
	color: rgb(0, 0, 0); vertical-align: middle; display: none;
}
.markdown-body h2 .octicon-link {
	color: rgb(0, 0, 0); vertical-align: middle; display: none;
}
.markdown-body h3 .octicon-link {
	color: rgb(0, 0, 0); vertical-align: middle; display: none;
}
.markdown-body h4 .octicon-link {
	color: rgb(0, 0, 0); vertical-align: middle; display: none;
}
.markdown-body h5 .octicon-link {
	color: rgb(0, 0, 0); vertical-align: middle; display: none;
}
.markdown-body h6 .octicon-link {
	color: rgb(0, 0, 0); vertical-align: middle; display: none;
}
.markdown-body h1:hover .anchor {
	padding-left: 8px; text-decoration: none; margin-left: -30px;
}
.markdown-body h2:hover .anchor {
	padding-left: 8px; text-decoration: none; margin-left: -30px;
}
.markdown-body h3:hover .anchor {
	padding-left: 8px; text-decoration: none; margin-left: -30px;
}
.markdown-body h4:hover .anchor {
	padding-left: 8px; text-decoration: none; margin-left: -30px;
}
.markdown-body h5:hover .anchor {
	padding-left: 8px; text-decoration: none; margin-left: -30px;
}
.markdown-body h6:hover .anchor {
	padding-left: 8px; text-decoration: none; margin-left: -30px;
}
.markdown-body h1:hover .anchor .octicon-link {
	display: inline-block;
}
.markdown-body h2:hover .anchor .octicon-link {
	display: inline-block;
}
.markdown-body h3:hover .anchor .octicon-link {
	display: inline-block;
}
.markdown-body h4:hover .anchor .octicon-link {
	display: inline-block;
}
.markdown-body h5:hover .anchor .octicon-link {
	display: inline-block;
}
.markdown-body h6:hover .anchor .octicon-link {
	display: inline-block;
}
.markdown-body h1 tt {
	font-size: inherit;
}
.markdown-body h1 code {
	font-size: inherit;
}
.markdown-body h2 tt {
	font-size: inherit;
}
.markdown-body h2 code {
	font-size: inherit;
}
.markdown-body h3 tt {
	font-size: inherit;
}
.markdown-body h3 code {
	font-size: inherit;
}
.markdown-body h4 tt {
	font-size: inherit;
}
.markdown-body h4 code {
	font-size: inherit;
}
.markdown-body h5 tt {
	font-size: inherit;
}
.markdown-body h5 code {
	font-size: inherit;
}
.markdown-body h6 tt {
	font-size: inherit;
}
.markdown-body h6 code {
	font-size: inherit;
}
.markdown-body h1 {
	line-height: 1.2; padding-bottom: 0.3em; font-size: 2.25em; border-bottom-color: rgb(238, 238, 238); border-bottom-width: 1px; border-bottom-style: solid;
}
.markdown-body h1 .anchor {
	line-height: 1;
}
.markdown-body h2 {
	line-height: 1.225; padding-bottom: 0.3em; font-size: 1.75em; border-bottom-color: rgb(238, 238, 238); border-bottom-width: 1px; border-bottom-style: solid;
}
.markdown-body h2 .anchor {
	line-height: 1;
}
.markdown-body h3 {
	line-height: 1.43; font-size: 1.5em;
}
.markdown-body h3 .anchor {
	line-height: 1.2;
}
.markdown-body h4 {
	font-size: 1.25em;
}
.markdown-body h4 .anchor {
	line-height: 1.2;
}
.markdown-body h5 {
	font-size: 1em;
}
.markdown-body h5 .anchor {
	line-height: 1.1;
}
.markdown-body h6 {
	color: rgb(119, 119, 119); font-size: 1em;
}
.markdown-body h6 .anchor {
	line-height: 1.1;
}
.markdown-body p {
	margin-top: 0px; margin-bottom: 16px;
}
.markdown-body blockquote {
	margin-top: 0px; margin-bottom: 16px;
}
.markdown-body ul {
	margin-top: 0px; margin-bottom: 16px;
}
.markdown-body ol {
	margin-top: 0px; margin-bottom: 16px;
}
.markdown-body dl {
	margin-top: 0px; margin-bottom: 16px;
}
.markdown-body table {
	margin-top: 0px; margin-bottom: 16px;
}
.markdown-body pre {
	margin-top: 0px; margin-bottom: 16px;
}
.markdown-body hr {
	margin: 16px 0px; padding: 0px; border: 0px currentColor; border-image: none; height: 4px; background-color: rgb(231, 231, 231);
}
.markdown-body ul {
	padding-left: 2em;
}
.markdown-body ol {
	padding-left: 2em;
}
.markdown-body ul.no-list {
	padding: 0px; list-style-type: none;
}
.markdown-body ol.no-list {
	padding: 0px; list-style-type: none;
}
.markdown-body ul ul {
	margin-top: 0px; margin-bottom: 0px;
}
.markdown-body ul ol {
	margin-top: 0px; margin-bottom: 0px;
}
.markdown-body ol ol {
	margin-top: 0px; margin-bottom: 0px;
}
.markdown-body ol ul {
	margin-top: 0px; margin-bottom: 0px;
}
.markdown-body li > p {
	margin-top: 16px;
}
.markdown-body dl {
	padding: 0px;
}
.markdown-body dl dt {
	padding: 0px; font-size: 1em; font-style: italic; font-weight: bold; margin-top: 16px;
}
.markdown-body dl dd {
	padding: 0px 16px; margin-bottom: 16px;
}
.markdown-body blockquote {
	padding: 0px 15px; color: rgb(119, 119, 119); border-left-color: rgb(221, 221, 221); border-left-width: 4px; border-left-style: solid;
}
.markdown-body blockquote > :first-child {
	margin-top: 0px;
}
.markdown-body blockquote > :last-child {
	margin-bottom: 0px;
}
.markdown-body table {
	width: 100%; overflow: auto; display: block; -ms-word-break: keep-all;
}
.markdown-body table th {
	font-weight: bold;
}
.markdown-body table th {
	padding: 6px 13px; border: 1px solid rgb(221, 221, 221); border-image: none;
}
.markdown-body table td {
	padding: 6px 13px; border: 1px solid rgb(221, 221, 221); border-image: none;
}
.markdown-body table tr {
	border-top-color: rgb(204, 204, 204); border-top-width: 1px; border-top-style: solid; background-color: rgb(255, 255, 255);
}
.markdown-body table tr:nth-child(2n) {
	background-color: rgb(248, 248, 248);
}
.markdown-body img {
	max-width: 100%; box-sizing: border-box;
}
.markdown-body span.frame {
	overflow: hidden; display: block;
}
.markdown-body span.frame > span {
	margin: 13px 0px 0px; padding: 7px; border: 1px solid rgb(221, 221, 221); border-image: none; width: auto; overflow: hidden; float: left; display: block;
}
.markdown-body span.frame span img {
	float: left; display: block;
}
.markdown-body span.frame span span {
	padding: 5px 0px 0px; color: rgb(51, 51, 51); clear: both; display: block;
}
.markdown-body span.align-center {
	overflow: hidden; clear: both; display: block;
}
.markdown-body span.align-center > span {
	margin: 13px auto 0px; text-align: center; overflow: hidden; display: block;
}
.markdown-body span.align-center span img {
	margin: 0px auto; text-align: center;
}
.markdown-body span.align-right {
	overflow: hidden; clear: both; display: block;
}
.markdown-body span.align-right > span {
	margin: 13px 0px 0px; text-align: right; overflow: hidden; display: block;
}
.markdown-body span.align-right span img {
	margin: 0px; text-align: right;
}
.markdown-body span.float-left {
	overflow: hidden; margin-right: 13px; float: left; display: block;
}
.markdown-body span.float-left span {
	margin: 13px 0px 0px;
}
.markdown-body span.float-right {
	overflow: hidden; margin-left: 13px; float: right; display: block;
}
.markdown-body span.float-right > span {
	margin: 13px auto 0px; text-align: right; overflow: hidden; display: block;
}
.markdown-body code {
	margin: 0px; padding: 0.2em 0px; border-radius: 3px; font-size: 85%; background-color: rgba(0, 0, 0, 0.04);
}
.markdown-body tt {
	margin: 0px; padding: 0.2em 0px; border-radius: 3px; font-size: 85%; background-color: rgba(0, 0, 0, 0.04);
}
.markdown-body code::before {
	letter-spacing: -0.2em; content: "\00a0";
}
.markdown-body code::after {
	letter-spacing: -0.2em; content: "\00a0";
}
.markdown-body tt::before {
	letter-spacing: -0.2em; content: "\00a0";
}
.markdown-body tt::after {
	letter-spacing: -0.2em; content: "\00a0";
}
.markdown-body code br {
	display: none;
}
.markdown-body tt br {
	display: none;
}
.markdown-body del code {
	text-decoration: inherit;
}
.markdown-body pre > code {
	background: none; margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; font-size: 100%; white-space: pre; -ms-word-break: normal;
}
.markdown-body .highlight {
	margin-bottom: 16px;
}
.markdown-body .highlight pre {
	padding: 16px; border-radius: 3px; line-height: 1.45; overflow: auto; font-size: 85%; background-color: rgb(247, 247, 247);
}
.markdown-body pre {
	padding: 16px; border-radius: 3px; line-height: 1.45; overflow: auto; font-size: 85%; background-color: rgb(247, 247, 247);
}
.markdown-body .highlight pre {
	margin-bottom: 0px; -ms-word-break: normal;
}
.markdown-body pre {
	-ms-word-wrap: normal;
}
.markdown-body pre code {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; line-height: inherit; display: inline; -ms-word-wrap: normal; background-color: transparent;
}
.markdown-body pre tt {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; line-height: inherit; display: inline; -ms-word-wrap: normal; background-color: transparent;
}
.markdown-body pre code::before {
	content: normal;
}
.markdown-body pre code::after {
	content: normal;
}
.markdown-body pre tt::before {
	content: normal;
}
.markdown-body pre tt::after {
	content: normal;
}
.markdown-body kbd {
	border-width: 1px; border-style: solid; border-color: rgb(204, 204, 204) rgb(204, 204, 204) rgb(187, 187, 187); padding: 3px 5px; border-radius: 3px; border-image: none; color: rgb(85, 85, 85); line-height: 10px; font-size: 11px; vertical-align: middle; display: inline-block; box-shadow: inset 0px -1px 0px #bbb; background-color: rgb(252, 252, 252);
}
.codehilite {
	background: rgb(255, 255, 255);
}
.codehilite .c {
	color: rgb(153, 153, 136); font-style: italic;
}
.codehilite .err {
	color: rgb(166, 23, 23); background-color: rgb(227, 210, 210);
}
.codehilite .k {
	color: rgb(0, 0, 0); font-weight: bold;
}
.codehilite .o {
	color: rgb(0, 0, 0); font-weight: bold;
}
.codehilite .cm {
	color: rgb(153, 153, 136); font-style: italic;
}
.codehilite .cp {
	color: rgb(153, 153, 153); font-weight: bold;
}
.codehilite .c1 {
	color: rgb(153, 153, 136); font-style: italic;
}
.codehilite .cs {
	color: rgb(153, 153, 153); font-style: italic; font-weight: bold;
}
.codehilite .gd {
	color: rgb(0, 0, 0); background-color: rgb(255, 221, 221);
}
.codehilite .gd .x {
	color: rgb(0, 0, 0); background-color: rgb(255, 170, 170);
}
.codehilite .ge {
	color: rgb(0, 0, 0); font-style: italic;
}
.codehilite .gr {
	color: rgb(170, 0, 0);
}
.codehilite .gh {
	color: rgb(153, 153, 153);
}
.codehilite .gi {
	color: rgb(0, 0, 0); background-color: rgb(221, 255, 221);
}
.codehilite .gi .x {
	color: rgb(0, 0, 0); background-color: rgb(170, 255, 170);
}
.codehilite .go {
	color: rgb(136, 136, 136);
}
.codehilite .gp {
	color: rgb(85, 85, 85);
}
.codehilite .gs {
	font-weight: bold;
}
.codehilite .gu {
	color: rgb(170, 170, 170);
}
.codehilite .gt {
	color: rgb(170, 0, 0);
}
.codehilite .kc {
	color: rgb(0, 0, 0); font-weight: bold;
}
.codehilite .kd {
	color: rgb(0, 0, 0); font-weight: bold;
}
.codehilite .kp {
	color: rgb(0, 0, 0); font-weight: bold;
}
.codehilite .kr {
	color: rgb(0, 0, 0); font-weight: bold;
}
.codehilite .kt {
	color: rgb(68, 85, 136); font-weight: bold;
}
.codehilite .m {
	color: rgb(0, 153, 153);
}
.codehilite .s {
	color: rgb(221, 17, 68);
}
.codehilite .na {
	color: rgb(0, 128, 128);
}
.codehilite .nb {
	color: rgb(0, 134, 179);
}
.codehilite .nc {
	color: rgb(68, 85, 136); font-weight: bold;
}
.codehilite .no {
	color: rgb(0, 128, 128);
}
.codehilite .ni {
	color: rgb(128, 0, 128);
}
.codehilite .ne {
	color: rgb(153, 0, 0); font-weight: bold;
}
.codehilite .nf {
	color: rgb(153, 0, 0); font-weight: bold;
}
.codehilite .nn {
	color: rgb(85, 85, 85);
}
.codehilite .nt {
	color: rgb(0, 0, 128);
}
.codehilite .nv {
	color: rgb(0, 128, 128);
}
.codehilite .ow {
	color: rgb(0, 0, 0); font-weight: bold;
}
.codehilite .w {
	color: rgb(187, 187, 187);
}
.codehilite .mf {
	color: rgb(0, 153, 153);
}
.codehilite .mh {
	color: rgb(0, 153, 153);
}
.codehilite .mi {
	color: rgb(0, 153, 153);
}
.codehilite .mo {
	color: rgb(0, 153, 153);
}
.codehilite .sb {
	color: rgb(221, 17, 68);
}
.codehilite .sc {
	color: rgb(221, 17, 68);
}
.codehilite .sd {
	color: rgb(221, 17, 68);
}
.codehilite .s2 {
	color: rgb(221, 17, 68);
}
.codehilite .se {
	color: rgb(221, 17, 68);
}
.codehilite .sh {
	color: rgb(221, 17, 68);
}
.codehilite .si {
	color: rgb(221, 17, 68);
}
.codehilite .sx {
	color: rgb(221, 17, 68);
}
.codehilite .sr {
	color: rgb(0, 153, 38);
}
.codehilite .s1 {
	color: rgb(221, 17, 68);
}
.codehilite .ss {
	color: rgb(153, 0, 115);
}
.codehilite .bp {
	color: rgb(153, 153, 153);
}
.codehilite .vc {
	color: rgb(0, 128, 128);
}
.codehilite .vg {
	color: rgb(0, 128, 128);
}
.codehilite .vi {
	color: rgb(0, 128, 128);
}
.codehilite .il {
	color: rgb(0, 153, 153);
}
